body {
  display: block;
}
header {
  display: inline-flex;
  align-items: center;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 1;
  flex-grow: 1;
  border-bottom: 1px solid black;
  background-color: white;
  top: 0px;
}
.logo {
  display: inline-flex;
  align-items: center;
  width: 80%;
  padding-left: 30px;
  flex-grow: 1;
}
.logo img {
  margin-right: 12px;
}
.logo span {
  display: inline-flex;
  color: MediumAquamarine;
}
nav {
  display: flex;
  width: auto;
  justify-content: flex-end;
  padding-right: 40px;
}
nav span {
  padding: 20px 10px;
}
#navigation {
  padding: 10px 20px;
  color: black;
  text-decoration-style: underline;
}
.content {
  display: flex;
  width: 100%;
  padding-top: 120px;
  border-bottom: solid black 1px;
  justify-content: space-between;
  flex-direction: row;
}
.column.large {
  width: 630px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
}
.lead-story span {
display: flex;
  width: 100%;
  height: 300px;
  background-image: url(/Users/simondjanogly/MyTimes/css/Images/Phish.png);
  font-family: Georgia;
  font-size: 40px;
  font-weight: bold;
  color: white;
}
.narrative span {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
.lead-story.narrative {
  display: flex;
  justiy-content: space-between;
}
p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
.vacation-burger {
  width: 630px;
  height: auto;
  display: flex;
  justify-content: space-between;
}
.vacation {
  font-size: 22px;
  justify-content: flex-start;
  width: 300px;
}
.burger {
  font-size: 22px;
  justify-content: flex-end;
  width: 300px;
}
.vacation span {
  font-weight: bold;
  font-size: 25px;
}
.burger span {
  font-weight: bold;
  font-size: 25px;
}
.spinning-research {
  display: flex;
  justify-content: space-between;
}
.spinning span {
  display: flex;
  height: 300px;
  width: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
  justify-content: flex-start;
  background-image: url(/Users/simondjanogly/MyTimes/css/Images/Fall-Season.png);
}
.research span {
  display: flex;
  height: 300px;
  width: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
  justify-content: flex-end;
  background-image: url(/Users/simondjanogly/MyTimes/css/images/Hipster.png);
}
.column.medium {
  width: 300px;
  display: flex;
  flex-direction: column;
}
.fbi span {
  font-weight: bold;
  font-size: 25px;
}
.cats span {
  display: block;
  width: auto;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  background-image: url(/Users/simondjanogly/MyTimes/css/images/Cat.png);
  height: 300px;
  text-align: center;
}
.column.small {
  display: flex;
  width: 240px;
  margin-right: 32px;
  flex-direction: column;
}
h3 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 41px;
}
.bites span {
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  margin: 0px;
  border-bottom: 1px solid black;
  padding: 11px 20px;
  display: block;
}
p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
footer {
  display: flex;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  height: 325px;
  align-items: center;
  justify-content: center;
}
footer .title {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
}
footer #navigation {
  padding-left: 25px;
}
